@page "/multiplegrids"
@page "/multiplegrids/{OrdersGridState}/{CustomersGridState}"
@using GridBlazorSpring.ColumnCollections
@using GridBlazorSpring.Models
@using Microsoft.Extensions.Primitives
@using System.Globalization
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<h1>Multiple Grids</h1>

<p>
    This page contains 2 grids. It also allows order editing. Both grid states are passed to the order edit page, so they can be returned to this page mantaining both grid states.
</p>

<p>
    This component demonstrates a GridBlazor client-side grid. For more documentation, please see: <a href="https://github.com/gustavnavar/Grid.Blazor">https://github.com/gustavnavar/Grid.Blazor</a>
</p>

@if (_task1.IsCompleted && _task2.IsCompleted)
{
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-orders-tab" data-toggle="pill" href="#pills-orders" role="tab" aria-controls="pills-orders" aria-selected="true">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-customers-tab" data-toggle="pill" href="#pills-customers" role="tab" aria-controls="pills-customers" aria-selected="false">Customers</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-orders" role="tabpanel" aria-labelledby="pills-orders-tab">
            <div style="margin:20px">
                <GridComponent T="Order" Grid="@_ordersGrid"></GridComponent>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-customers" role="tabpanel" aria-labelledby="pills-customers-tab">
            <div style="margin:20px">
                <GridComponent T="Customer" Grid="@_customersGrid"></GridComponent>
            </div>
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@code
{
    private ICGrid _ordersGrid;
    private ICGrid _customersGrid;
    private Task _task1;
    private Task _task2;

    [Parameter]
    public string OrdersGridState { get; set; }

    [Parameter]
    public string CustomersGridState { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var locale = CultureInfo.CurrentCulture;

        // build the column collection passing an action list with the action executed by the ButtonCell component
        Action<IGridColumnCollection<Order>> orderColumns = c =>
            ColumnCollections.OrderColumnsMultipleGrids(c, new List<Func<object, Task>>() { MyFunction });

        var ordersQuery = new QueryDictionary<StringValues>();
        if (!string.IsNullOrWhiteSpace(OrdersGridState))
        {
            try
            {
                ordersQuery = StringExtensions.GetQuery(OrdersGridState);
            }
            catch (Exception)
            {
                // do nothing, GridState was not a valid state
            }
        }
        string ordersUrl = "http://localhost:8080/" + "api/SampleData/OrderColumnsWithEdit";
        var ordersClient = new GridClient<Order>(HttpClient, ordersUrl, ordersQuery, false, "ordersGrid",
            orderColumns, locale)
            .Sortable()
            .Filterable()
            .SetStriped(true)
            .WithMultipleFilters()
            .WithGridItemsCount();
        _ordersGrid = ordersClient.Grid;

        // Set new items to grid
        _task1 = ordersClient.UpdateGrid();
        await _task1;

        var customersQuery = new QueryDictionary<StringValues>();
        if (!string.IsNullOrWhiteSpace(CustomersGridState))
        {
            try
            {
                customersQuery = StringExtensions.GetQuery(CustomersGridState);
            }
            catch (Exception)
            {
                // do nothing, GridState was not a valid state
            }
        }
        string customersUrl = "http://localhost:8080/" + "api/SampleData/GetCustomersGrid";
        var customersClient = new GridClient<Customer>(HttpClient, customersUrl, customersQuery, false, "customersGrid",
            ColumnCollections.CustomersColumns, locale)
            .Sortable()
            .Filterable()
            .SetStriped(true)
            .WithMultipleFilters()
            .WithGridItemsCount();
        _customersGrid = customersClient.Grid;

        // Set new items to grid
        _task2 = customersClient.UpdateGrid();
        await _task2;
    }

    private async Task MyFunction(object item)
    {
        string ordersGridState = _ordersGrid.GetState();
        string customersGridState = _customersGrid.GetState();
        await Task.Run(() => 
            NavigationManager.NavigateTo($"/editorder/{((Order)item).OrderID.ToString()}/multiplegrids/{ordersGridState}/{customersGridState}"));
    }
}

