@page "/count"
@using GridBlazorStandalone.ColumnCollections
@using GridBlazorStandalone.Models
@using GridBlazorStandalone.Services
@using Microsoft.Extensions.Primitives
@using System.Globalization
@using System.Threading.Tasks
@inject IOrderService orderService

<h1>Grid Sample</h1>

<p>
    This page contains a grid with a collection column showing the subset count on the grid
</p>

<p>
    This component demonstrates an standalone GridBlazor client-side grid. For more information, please see: <a href="https://github.com/gustavnavar/Grid.Blazor">https://github.com/gustavnavar/Grid.Blazor</a>
</p>

@if (_task.IsCompleted)
{
    <div class="row">
        <div class="col-md-12">
            <GridComponent T="Order" Grid="@_grid"></GridComponent>
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@code
{
    private CGrid<Order> _grid;
    private Task _task;

    protected override async Task OnParametersSetAsync()
    {
        var locale = CultureInfo.CurrentCulture;

        var query = new QueryDictionary<StringValues>();
        //query.Add("grid-filter", "Customer.Country__1__usa");

        var client = new GridClient<Order>(q => orderService.GetOrdersGridRowsWithCount(ColumnCollections.OrderColumnsCount, q), query, 
            false, "ordersGrid", ColumnCollections.OrderColumnsCount, locale)
            .Sortable()
            .Filterable()
            .Searchable(true, false)
            .SetStriped(true)
            .WithMultipleFilters()
            .WithGridItemsCount();

        _grid = client.Grid;
        // Set new items to grid
        _task = client.UpdateGrid();
        await _task;
    }
}
