@page "/virtualized"
@using GridBlazorStandalone.ColumnCollections
@using GridBlazorStandalone.Models
@using GridBlazorStandalone.Services
@using Microsoft.Extensions.Primitives
@using System.Globalization
@using System.Threading.Tasks
@inject IOrderService orderService
@inject ICustomerService customerService
@inject IEmployeeService employeeService
@inject IShipperService shipperService

<h1>Grid Sample</h1>

<p>
    This page contains a virtualized grid
</p>

<p>
    This component demonstrates an standalone GridBlazor client-side grid. For more information, please see: <a href="https://github.com/gustavnavar/Grid.Blazor">https://github.com/gustavnavar/Grid.Blazor</a>
</p>

@if (_task.IsCompleted)
{
    <div class="row">
        <div class="col-md-12">
            <GridComponent T="Order" Grid="@_grid"></GridComponent>
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@code
{
    private CGrid<Order> _grid;
    private Task _task;

    protected override async Task OnParametersSetAsync()
    {
        var locale = CultureInfo.CurrentCulture;

        var query = new QueryDictionary<StringValues>();
        //query.Add("grid-filter", "Customer.Country__1__usa");

         Action<IGridColumnCollection<Order>> orderColumns = c => ColumnCollections.VirtualizedOrderColumns(c,
            c => customerService.GetAllCustomers(), c => employeeService.GetAllEmployees(), shipperService.GetAllShippers);

        var client = new GridClient<Order>(q => orderService.GetVirtualizedOrdersGridRows(orderColumns, q),
            query, false, "ordersGrid", orderColumns, locale)
            .Sortable()
            .ExtSortable(true)
            .Filterable()
            .SetStriped(true)
            .Crud(true, orderService)
            .WithMultipleFilters()
            .WithGridItemsCount()
            //.Searchable(true, false, false)
            .SetExcelExport(true, true, "Orders")
            .RearrangeableColumns(true)
            .Virtualize(250)
            .ChangeVirtualizedHeight(true);

        _grid = client.Grid;
        // Set new items to grid
        _task = client.UpdateGrid();
        await _task;
    }
}
