@using GridShared
@using GridShared.Sorting
@using GridShared.Utility
@using GridBlazor.Demo.Shared.Models
@using Microsoft.Extensions.Primitives
@using System
@using System.Globalization
@using System.Threading.Tasks
@page "/gridsample"
@inject IUriHelper UriHelper

<h1>Grid Sample</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_task.IsCompleted)
{
    <div class="row">
        <div class="col-md-9">
            <GridComponent T="Order" Grid="@_grid" OnRowClicked="@OrderDetails"
                           CustomFilters="@_customFilters"></GridComponent>
        </div>
        <div class="col-md-3">
            <h4>
                Order details
            </h4>
            <OrderInfo Order="@_order"></OrderInfo>
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@functions
{
    private const string companyNameFilter = "CompanyNameFilter";
    private CGrid<Order> _grid;
    private Task _task;
    private Order _order;
    private IQueryDictionary<Type> _customFilters = new QueryDictionary<Type>();

    public static Action<IGridColumnCollection<Order>> Columns = c =>
    {
        /* Adding not mapped column, that renders body, using inline Razor html helper */
        c.Add().Encoded(false).Sanitized(false).SetWidth(30).Css("hidden-xs") //hide on phones
        .RenderValueAs(o => $"<b><a class='modal_link' href='/Home/Edit/{o.OrderID}'>Edit</a></b>");

        /* Adding "OrderID" column: */
        c.Add(o => o.OrderID).Titled("Number").SetWidth(100);

        /* Adding "OrderDate" column: */
        c.Add(o => o.OrderDate, "OrderCustomDate").Titled("Date").SortInitialDirection(GridSortDirection.Descending)
        .Format("{0:yyyy-MM-dd}").SetWidth(110);

        /* Adding "CompanyName" column: */
        c.Add(o => o.Customer.CompanyName).Titled("Company").SetWidth(250).ThenSortByDescending(o => o.OrderID)
        .SetFilterWidgetType(companyNameFilter);

        /* Adding "Vip customer" column: */
        c.Add(o => o.Customer.IsVip).Titled("Is Vip").SetWidth(70).Css("hidden-xs") //hide on phones
        .RenderValueAs(o => o.Customer.IsVip ? "Yes" : "No");
    };

    protected override async Task OnInitAsync()
    {
        string url = UriHelper.GetBaseUri() + "api/SampleData/GetOrdersGridForSample";

        var query = new QueryDictionary<StringValues>();
        query.Add("grid-page", "2");

        //var locale = CultureInfo.CurrentCulture;
        var locale = new CultureInfo("de-DE");
        var client = new GridClient<Order>(url, query, false, "ordersGrid", Columns, locale)
            .SetRowCssClasses(item => item.Customer.IsVip ? "success" : string.Empty)
            .Sortable()
            .Filterable()
            .WithMultipleFilters();

        _customFilters.Add(companyNameFilter, typeof(CustomersFilterComponent<Order>));

        _grid = client.Grid;
        // Set new items to grid
        _task = client.UpdateGrid();
        await _task;
    }

    protected void OrderDetails(object item)
    {
        if (item.GetType() == typeof(Order))
        {
            _order = (Order)item;
        }
        else
        {
            _order = null;
        }
        StateHasChanged();
    }
}
