<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GridMvc</title>

    <base href="/" />

    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />
    <environment names="Development">
        <link href="~/css/gridmvc.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/gridmvc.min.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>

    <environment names="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/gridmvc.js" type="text/javascript"></script>
        <script src="~/js/gridmvc-lang-de.js"></script>
        <script src="~/js/gridmvc-lang-fr.js"></script>
        <script src="~/js/gridmvc-lang-it.js"></script>
        <script src="~/js/gridmvc-lang-ru.js"></script>
        <script src="~/js/gridmvc-lang-es.js"></script>
        <script src="~/js/gridmvc-lang-nb.js"></script>
        <script src="~/js/gridmvc-lang-nl.js"></script>
        <script src="~/js/gridmvc-lang-tr.js"></script>
        <script src="~/js/gridmvc-lang-cs.js"></script>
        <script src="~/js/gridmvc-lang-se.js"></script>
        <script src="~/js/gridmvc-lang-sl.js"></script>
        <script src="~/js/gridmvc-lang-sr.js"></script>
        <script src="~/js/gridmvc-lang-hr.js"></script>
        <script src="~/js/gridmvc-lang-fa.js"></script>
        <script src="~/js/gridmvc-lang-ca.js"></script>
        <script src="~/js/gridmvc-lang-eu.js"></script>
        <script src="~/js/gridmvc-lang-gl.js"></script>
        <script src="~/js/gridmvc-lang-pt.js"></script>
        <script src="~/js/gridmvc-lang-bg.js"></script>
        <script src="~/js/gridmvc-lang-uk.js"></script>
        <script src="~/js/gridmvc-lang-ar.js"></script>
        <script src="~/js/gridmvc-lang-da.js"></script>
        <script src="~/js/gridmvc-lang-ja.js"></script>
        <script src="~/js/gridmvc-lang-zh.js"></script>
        <script src="~/js/gridmvc.customwidgets.js" type="text/javascript"></script>
        <!-- referencing datepicker control -->
        <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.de.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.fr.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.it.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.no.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.nl.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.tr.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.cs.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.sl.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.sr.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.hr.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.fa.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.ca.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.gl.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.eu.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.pt.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.bg.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.uk.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.ar.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.da.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.ja.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
        <script src="~/js/site.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/gridmvc.min.js" type="text/javascript"></script>
        <script src="~/js/gridmvc-lang-de.js"></script>
        <script src="~/js/gridmvc-lang-fr.js"></script>
        <script src="~/js/gridmvc-lang-it.js"></script>
        <script src="~/js/gridmvc-lang-ru.js"></script>
        <script src="~/js/gridmvc-lang-es.js"></script>
        <script src="~/js/gridmvc-lang-nb.js"></script>
        <script src="~/js/gridmvc-lang-tr.js"></script>
        <script src="~/js/gridmvc-lang-cs.js"></script>
        <script src="~/js/gridmvc-lang-se.js"></script>
        <script src="~/js/gridmvc-lang-sl.js"></script>
        <script src="~/js/gridmvc-lang-sr.js"></script>
        <script src="~/js/gridmvc-lang-hr.js"></script>
        <script src="~/js/gridmvc-lang-fa.js"></script>
        <script src="~/js/gridmvc-lang-ca.js"></script>
        <script src="~/js/gridmvc-lang-eu.js"></script>
        <script src="~/js/gridmvc-lang-gl.js"></script>
        <script src="~/js/gridmvc-lang-pt.js"></script>
        <script src="~/js/gridmvc-lang-bg.js"></script>
        <script src="~/js/gridmvc-lang-uk.js"></script>
        <script src="~/js/gridmvc-lang-ar.js"></script>
        <script src="~/js/gridmvc-lang-da.js"></script>
        <script src="~/js/gridmvc-lang-ja.js"></script>
        <script src="~/js/gridmvc-lang-zh.js"></script>
        <script src="~/js/gridmvc.customwidgets.js" type="text/javascript"></script>
        <!-- referencing datepicker control -->
        <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.de.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.fr.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.it.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.ru.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.tr.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.cs.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.sl.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.sr.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.hr.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.ca.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.gl.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.eu.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.pt.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.bg.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.uk.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.ar.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.da.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.ja.min.js"></script>
        <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
        <script src="~/js/site.min.js"></script>
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark box-shadow mb-3">
        <h2>GridMvc</h2>
        <div class="container-fluid">
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" style="color:white;" asp-area="" asp-controller="Home" asp-action="Index">Demo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:white;" asp-area="" asp-controller="Home" asp-action="Subgrid">Subgrid</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:white;" asp-area="" asp-controller="Home" asp-action="RTL">RTL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:white;" asp-area="" asp-controller="Home" asp-action="MultipleGrids">Multiple grids</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:white;" asp-area="" asp-controller="Home" asp-action="BlazorComponentView">Blazor component</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:white;" asp-area="" asp-controller="Home" asp-action="Comparer">Sort comparer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:white;" asp-area="" asp-controller="Home" asp-action="Images">Images</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:white;" href="/GridPage">Razor Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:white;" asp-area="" asp-controller="Home" asp-action="Trucks">Trucks</a>
                    </li>
                </ul>
            </div>
            @await Html.PartialAsync("_LanguagePartial")
        </div>
    </nav>
     
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2020 - GridMvc.Demo</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
