@page "/virtualized"
@using GridBlazorGrpc.Client.ColumnCollections
@using GridBlazorGrpc.Shared.Models
@using Microsoft.Extensions.Primitives
@using System.Globalization
@using System.Threading.Tasks
@inject IGridClientService gridClientService
@inject ICrudDataService<Order> orderService

<h1>Grid Sample</h1>

<p>
    This page contains a virtualized grid
</p>

<p>
    This component demonstrates a GridBlazor client-side grid using gRPC to communicate with the back-end. For more information, please see: <a href="https://github.com/gustavnavar/Grid.Blazor">https://github.com/gustavnavar/Grid.Blazor</a>
</p>

@if (_task1.IsCompleted && _task2.IsCompleted)
{
    <div class="row">
        <div class="col-md-12">
            <GridComponent T="Order" Grid="@_grid"></GridComponent>
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@code
{
    private CGrid<Order> _grid;
    private Task<IEnumerable<SelectItem>> _task1;
    private Task _task2;
    private IEnumerable<SelectItem> _shippers;

    protected override async Task OnParametersSetAsync()
    {
        var locale = CultureInfo.CurrentCulture;
        _task1 = gridClientService.GetAllShippers();
        _shippers = await _task1;

        var query = new QueryDictionary<string>();
        //query.Add("grid-filter", "Customer.Country__1__usa");

       Action<IGridColumnCollection<Order>> orderColumns = c =>
       ColumnCollections.VirtualizedOrderColumns(c, o => gridClientService.GetAllCustomers(),
               o => gridClientService.GetAllEmployees(),
               o => gridClientService.GetAllShippers(), _shippers);

        var client = new GridClient<Order>(gridClientService.GetVirtualizedOrdersGridRows, query, false, "ordersGrid", orderColumns, locale)
            .Sortable()
            .ExtSortable(true)
            .Filterable()
            .SetStriped(true)
            .Crud(true, orderService)
            .WithMultipleFilters()
            .WithGridItemsCount()
            //.Searchable(true, false, false)
            .SetExcelExport(true, true, "Orders")
            .RearrangeableColumns(true)
            .Virtualize(250)
            .ChangeVirtualizedHeight(true);

        _grid = client.Grid;
        // Set new items to grid
        _task2 = client.UpdateGrid();
        await _task2;
    }
}
