################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/GridBlazor/bin
/GridBlazor/GridBlazor.csproj.user
/GridBlazor/obj
/GridBlazor/Properties/PublishProfiles
/GridBlazor.Demo.Client/bin
/GridBlazor.Demo.Client/GridBlazor.Demo.Client.csproj.user
/GridBlazor.Demo.Client/obj
/GridBlazor.Demo.Server/bin
/GridBlazor.Demo.Server/GridBlazor.Demo.Server.csproj.user
/GridBlazor.Demo.Server/obj
/GridBlazor.Demo.Shared/bin
/GridBlazor.Demo.Shared/GridBlazor.Demo.Shared.csproj.user
/GridBlazor.Demo.Shared/obj
/GridBlazor.Tests/bin
/GridBlazor.Tests/GridBlazor.Tests.csproj.user
/GridBlazor.Tests/obj
/GridComponent.Demo/bin
/GridComponent.Demo/GridComponent.Demo.csproj.user
/GridComponent.Demo/obj
/GridMvc/bin
/GridMvc/GridMvc.csproj.user
/GridMvc/obj
/GridMvc/Properties/PublishProfiles
/GridMvc.Demo/bin
/GridMvc.Demo/GridMvc.Demo.csproj.user
/GridMvc.Demo/obj
/GridMvc.Demo/wwwroot/lib
/GridMvc.Tests/bin
/GridMvc.Tests/GridMvc.Tests.csproj.user
/GridMvc.Tests/obj
/GridShared/bin
/GridShared/GridShared.csproj.user
/GridShared/obj
/GridShared/Properties/PublishProfiles
/GridBlazorClientSide.Server/bin
/GridBlazorClientSide.Client/bin
/GridBlazorClientSide.Client/obj
/GridBlazorClientSide.Client/GridBlazorClientSide.Client.csproj.user
/GridBlazorClientSide.Server/obj
/GridBlazorClientSide.Server/GridBlazorClientSide.Server.csproj.user
/GridBlazorClientSide.Shared/bin
/GridBlazorClientSide.Shared/obj
/GridBlazorServerSide/GridBlazorServerSide.csproj.user
/GridBlazorServerSide/bin
/GridBlazorServerSide/obj
/docs/.vscode
/GridBlazorOData.Server/bin
/GridBlazorOData.Server/obj
/GridBlazorOData.Client/bin
/GridBlazorOData.Client/obj
/GridBlazorOData.Shared/bin
/GridBlazorOData.Shared/obj
/GridBlazorOData.Shared/.vs/GridBlazorOData.Shared
/GridBlazorOData.Server/GridBlazorOData.Server.csproj.user
**/obj/
/northwind.db
/GridSharedData/bin
/GridCore/bin
/GridCore/obj
/GridCore/Properties/PublishProfiles
/GridBlazorStandalone/GridBlazorStandalone.csproj.user
/GridBlazorStandalone/bin
/GridBlazorStandalone/obj
/GridSharedData/bin
/GridSharedData/obj
/GridBlazorGrpc.Client/bin
/GridBlazorGrpc.Server/bin
/GridBlazorGrpc.Shared/bin
/GridBlazorGrpc.Client/obj
/GridBlazorGrpc.Server/obj
/GridBlazorGrpc.Shared/obj
/GridBlazorJava/bin
/GridBlazorJava/obj
/GridBlazorGrpc.Server/Properties
