@typeparam T

@if (_readonly)
{
    <label>
        <input type="checkbox" class="@GridComponent.Grid.HtmlClass.FormCheck" checked="@_value" readonly disabled>
        <span></span>
    </label>
}
else
{
    <label>
        <input type="checkbox" class="@GridComponent.Grid.HtmlClass.FormCheck" checked="@_value" @onchange="ChangeHandler" @onclick:stopPropagation>
        <span></span>
    </label>
}