@using GridBlazor.Resources
@typeparam T
@if (GridUpdateComponent._buttonsVisibility == 0)
{
    <button type="submit" class="@GridUpdateComponent.GridComponent.Grid.HtmlClass.ButtonPrimary">@(string.IsNullOrWhiteSpace(GridUpdateComponent.GridComponent.Grid.UpdateFormButtonLabel) ? Strings.Save : GridUpdateComponent.GridComponent.Grid.UpdateFormButtonLabel)</button>
    <button type="button" class="@GridUpdateComponent.GridComponent.Grid.HtmlClass.ButtonPrimary" @onclick="() => GridUpdateComponent.BackButtonClicked()">@Strings.Back</button>
}
