@using GridBlazor.Resources
@typeparam T
@if (GridReadComponent._buttonsVisibility == 0)
{
    <button type="button" class="@GridReadComponent.GridComponent.Grid.HtmlClass.ButtonPrimary" @onclick="() => GridReadComponent.BackButtonClicked()">@Strings.Back</button>
}
