@using GridShared.Pagination
@using GridBlazor.Resources
@typeparam T

<div class="@GridComponent.GridItemsCountCssClass">
    <label class="grid-itemscount-label @GridComponent.Grid.HtmlClass.FormLabel">@GridComponent.Grid.ComponentOptions.GridCountDisplayName: <b>@_itemsCount</b></label>
</div>
