@using GridBlazor.Resources
@typeparam T
@if (GridDeleteComponent._buttonsVisibility == 0)
{
    <button type="button" class="btn btn-primary btn-md" @onclick="() => GridDeleteComponent.DeleteItem()">@(string.IsNullOrWhiteSpace(GridDeleteComponent.GridComponent.Grid.DeleteFormButtonLabel) ? Strings.Delete : GridDeleteComponent.GridComponent.Grid.DeleteFormButtonLabel)</button>
    <button type="button" class="btn btn-primary btn-md" @onclick="() => GridDeleteComponent.BackButtonClicked()">@Strings.Back</button>
}
       