@using GridBlazor.Resources
@typeparam T
@if (GridDeleteComponent._buttonsVisibility == 0)
{
    <button type="button" class="btn btn-primary btn-md" @onclick="() => GridDeleteComponent.DeleteItem()">@Strings.Delete</button>
    <button type="button" class="btn btn-primary btn-md" @onclick="() => GridDeleteComponent.BackButtonClicked()">@Strings.Back</button>
}
       