@typeparam T

@if (Visible)
{
    <div class="grid-tooltip">
        <div class="@GridComponent.Grid.HtmlClass.DropdownMenu grid-tooltip-dropdown" 
                style="display:block;@_customStyle1" 
                @ref="tooltip">
            <div class="grid-dropdown-arrow" style="@_customStyle2"></div>
            <div class="grid-dropdown-inner">
                <div class="grid-popup-widget">
                    <div class="grid-tooltip-body">
                        <label><b>@Value</b></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
