@using Resources
@typeparam  T

@if (_visible)
{
    @if (_grid != null && _grid.ItemsCount > 0)
    {
        <td></td>
        <td colspan="@Cols">@_subGridRender</td>
    }
    else
    {
        <td></td>
        <td colspan="@Cols">@Strings.DefaultGridEmptyText</td>
    }
}