@using GridMvc
@using GridMvc.Resources
@using GridShared.Utility
@model ISGrid

@{
    string _seachUrl;
    string _searchValue = Model.Settings.SearchSettings.SearchValue;

    //determine current url:
    var queryBuilder = new CustomQueryStringBuilder(Model.Settings.SearchSettings.Query);
    var exceptQueryParameters = new List<string>();
    _seachUrl = queryBuilder.GetQueryStringExcept(exceptQueryParameters);
}

<div class="row grid-search" data-search-url="@_seachUrl">
    <div class="col-md-offset-6 offset-md-6 col-md-6">
        <div class="input-group">
            <span class="input-group-btn input-group-prepend">
                <button class="btn btn-default btn-outline-secondary grid-search-apply" type="button"></button>
            </span>
            <input type="text" class="form-control grid-search-input" value="@_searchValue" placeholder="@Strings.SearchFor" />
            <span class="input-group-btn input-group-append">
                <button class="btn btn-default btn-outline-secondary grid-search-clear" type="button"></button>
            </span>
        </div>
    </div>
</div>