@page "/embedded"
@using GridBlazor.Resources
@using GridBlazorOData.Client.Resources
@using GridBlazorOData.Shared.Models
@using Microsoft.Extensions.Primitives
@using System.Globalization
@using System.Threading.Tasks
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<h1>Grid Sample</h1>

<p>
    This page contains a grid with embedded components started by additional buttons on the header and rows
</p>

<p>
    This component demonstrates a GridBlazor client-side grid with an OData back-end. For more information, please see: <a href="https://github.com/gustavnavar/Grid.Blazor">https://github.com/gustavnavar/Grid.Blazor</a>
</p>

@if (_task.IsCompleted)
{
    <div class="row">
        <div class="col-md-12">
            <GridComponent T="Order" Grid="@_grid"></GridComponent>
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@code
{
    private CGrid<Order> _grid;
    private Task _task;

    protected override async Task OnParametersSetAsync()
    {
        var locale = CultureInfo.CurrentCulture;

        var query = new QueryDictionary<StringValues>();

        Action<IGridColumnCollection<Order>> columns = c =>
        {
            c.Add().Encoded(false).Sanitized(false).RenderComponentAs<ShipperButtonCell>();
            c.Add(o => o.OrderID).Titled(SharedResource.Number).SetWidth(100);
            c.Add(o => o.OrderDate, "OrderCustomDate").Titled(SharedResource.OrderCustomDate).SetWidth(120).RenderComponentAs<TooltipCell>();
            c.Add(o => o.Customer.CompanyName).Titled(SharedResource.CompanyName).SetWidth(250);
            c.Add(o => o.Customer.ContactName).Titled(SharedResource.ContactName).SetWidth(250);
            c.Add(o => o.Customer.Country, true);
            c.Add(o => o.Freight).Titled(SharedResource.Freight).Format("{0:F}");
            c.Add(o => o.Customer.IsVip).Titled(SharedResource.IsVip).SetWidth(70).Css("hidden-xs").RenderValueAs(o => o.Customer.IsVip ? Strings.BoolTrueLabel : Strings.BoolFalseLabel);
        };

        string url = NavigationManager.BaseUri + "odata/Orders";
        var client = new GridODataClient<Order>(HttpClient, url, query, false, "ordersGrid", columns, 10, locale,
            new List<string> { "Shipper" })
                .Sortable()
                .Filterable()
                .SetStriped(true)
                .WithMultipleFilters()
                .WithGridItemsCount()
                .AddButtonComponent<EmployeeComponent>("Employees", "Employee's Grid", (MarkupString)"<span class='oi oi-person' aria-hidden='true'></span>")
                .AddButtonComponent<CustomerComponent>("Customers", "Curstomer's Grid");

        _grid = client.Grid;
        // Set new items to grid
        _task = client.UpdateGrid();
        await _task;
    }
}
