@{
    ViewBag.Title = "About Grid.Mvc";
}
<div class="row">
    <div class="col-md-12">
        <h1>About</h1>
        <p>
            Grid.Mvc adds functionality for creating GridView controls in your ASP.NET MVC 3
        web application. It is a component that allows you easy construction of HTML tables
        for displaying, paging, sorting and filtering data from a collection of Model objects.
        </p>
        <p>
            For more documentation, please see: <a href="http://gridmvc.codeplex.com/">http://gridmvc.codeplex.com/</a>
        </p>
    </div>
</div>
