@{
    ViewBag.Title = "About GridMvcCore";
}
<div class="row">
    <div class="col-md-12">
        <h1>About</h1>
        <p>
            GridMvcCore adds functionality to create Grid View controls in your ASP.NET Core MVC
        web application. It is a component that allows you easy construction of HTML tables
        for displaying, paging, sorting and filtering data from a collection of Model objects.
        </p>
        <p>
            For more documentation, please see: <a href="https://github.com/gustavnavar/Grid.Blazor">https://github.com/gustavnavar/Grid.Blazor</a>
        </p>
    </div>
</div>
