@using GridMvc.Demo.BlazorComponents

@{
    ViewBag.Title = "Blazor component";
}

<link rel="stylesheet" href="~/_content/GridBlazor/css/gridblazor.css" />

<div class="row">
    <div class="col-md-12">
        <p>Orders administration with a Blazor component in ASP.NET Core MVC</p>
        <p>
            This page demonstrates the possibilities of GridMvcCore. For more documentation, please
            see: <a href="https://github.com/gustavnavar/Grid.Blazor">https://github.com/gustavnavar/Grid.Blazor</a>
        </p>
    </div>
</div>

<div>
    @(await Html.RenderComponentAsync<OrdersComponent>(RenderMode.ServerPrerendered))
</div>

<script src="~/_content/GridBlazor/js/gridblazor.js"></script>
<script src="~/_framework/blazor.server.js" autostart="false"></script>

<script type="text/javascript">
    Blazor.start({
        configureSignalR: function (builder) {
            builder.withUrl("/_blazor");
        }
    });
</script>