@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

h1 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

a {
    color: #0366d6;
}

p {
    margin-bottom: 1rem;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

dt {
    font-weight: bold;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a {
            margin-left: 1.5rem;
        }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar li.nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.1rem;
    }

        .sidebar li.nav-item:first-of-type {
            padding-top: 0.5rem;
        }

        .sidebar li.nav-item:last-of-type {
            padding-bottom: 0.5rem;
        }

li.nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 2.2rem;
    display: flex;
    align-items: center;
    line-height: 2.2rem;
}

    li.nav-item a.active {
        background-color: rgba(255,255,255,0.25);
        color: white;
    }

    li.nav-item a:hover {
        background-color: rgba(255,255,255,0.1);
        color: white;
    }

.app-content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

table.table tr.success {
    background-color: #dff0d8;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 220px;
        height: 100vh;
        position: sticky;
        overflow-y: scroll;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.red {
    color: red;
}

.custom-sum {
    color: cornflowerblue;
}
