@using GridBlazor.Resources
@using GridMvc.Demo.Models
@using GridMvc.Demo.Resources
@using GridMvc.Demo.Services
@using GridShared.Columns
@using GridShared.Sorting
@using Microsoft.Extensions.Primitives
@using System.Globalization
@using System.Threading.Tasks
@inject IOrderService orderService
@inject ICustomerService customerService
@inject IEmployeeService employeeService
@inject IShipperService shipperService

@if (_task.IsCompleted)
{
    <div class="row">
        <div class="col-md-12">
            <GridComponent T="Order" Grid="@_grid"></GridComponent>
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@code
{
    private CGrid<Order> _grid;
    private Task _task;

    protected override async Task OnParametersSetAsync()
    {
        var locale = CultureInfo.CurrentCulture;
        SharedResource.Culture = locale;

        var query = new QueryDictionary<StringValues>();

        Action<IGridColumnCollection<Order>> orderColumns = c =>
        {
        /* Adding "OrderID" column: */
        c.Add(o => o.OrderID).SetPrimaryKey(true).Titled(SharedResource.Number).SetWidth(100).Sum(true);

        /* Adding "CustomerID" column: */
        c.Add(o => o.CustomerID, true)
        .SetSelectField(true, o => o.Customer.CustomerID + " - " + o.Customer.CompanyName,
            customerService.GetAllCustomers);

        /* Adding "EmployeeID" column: */
        c.Add(o => o.EmployeeID, true)
        .SetSelectField(true, o => o.Employee.EmployeeID.ToString() + " - " + o.Employee.FirstName + " " + o.Employee.LastName,
            employeeService.GetAllEmployees);

        /* Adding "ShipVia" column: */
        c.Add(o => o.ShipVia).Titled("Via")
        .SetWidth(250).RenderValueAs(o => o.Shipper == null ? "" : o.Shipper.CompanyName)
        .SetSelectField(true, o => o.Shipper == null ? "" : o.Shipper.ShipperID.ToString() + " - " + o.Shipper.CompanyName,
            shipperService.GetAllShippers)
        .SetListFilter(shipperService.GetAllShippers(), true, true);

        /* Adding "OrderDate" column: */
        c.Add(o => o.OrderDate, "OrderCustomDate").Titled(SharedResource.OrderCustomDate)
        .SortInitialDirection(GridSortDirection.Descending)
        .SetCellCssClassesContraint(o => o.OrderDate.HasValue && o.OrderDate.Value >= DateTime.Parse("1997-01-01") ? "red" : "")
        .Format("{0:yyyy-MM-dd}").SetWidth(120)
        .Max(true).Min(true);

        /* Adding "CompanyName" column: */
        c.Add(o => o.Customer.CompanyName)
        .Titled(SharedResource.CompanyName)
        .ThenSortBy(o => o.OrderDetails)
        .ThenSortByDescending(o => o.Freight)
        .SetWidth(250)
        .SetCrudHidden(true).SetReadOnlyOnUpdate(true)
        //.ThenSortByDescending(o => o.OrderID)
        //.SetInitialFilter(GridFilterType.StartsWith, "a")
        .SetFilterWidgetType("CompanyNameFilter")
        .Max(true).Min(true);

        /* Adding "ContactName" column: */
        c.Add(o => o.Customer.ContactName).Titled(SharedResource.ContactName).SetWidth(250)
       .SetCrudHidden(true)
       .Max(true).Min(true);

        /* Adding "Freight" column: */
        c.Add(o => o.Freight)
           .Titled(SharedResource.Freight)
           .Format("{0:#,##0.00}")
           .SetAutoCompleteTaxonomy(AutoCompleteTerm.Defeat)
           .Sum(true).Average(true).Max(true).Min(true)
           .Calculate("Average 2", x => x.Grid.ItemsCount == 0 ? 0 : x.Get("Freight").SumValue.Number / x.Grid.ItemsCount)
           .Calculate("Average 3", x => x.Get("OrderID").SumValue.Number == 0 ? 0 : x.Get("Freight").SumValue.Number / x.Get("OrderID").SumValue.Number);


            /* Adding "Vip customer" column: */
            c.Add(o => o.Customer.IsVip).Titled(SharedResource.IsVip).SetWidth(70).Css("hidden-xs") //hide on phones
                .RenderValueAs(o => o.Customer.IsVip ? Strings.BoolTrueLabel : Strings.BoolFalseLabel).SetCrudHidden(true);

            /* Adding hidden "RequiredDate" column: */
            c.Add(o => o.RequiredDate, true).Format("{0:yyyy-MM-dd}");

            /* Adding hidden "ShippedDate" column: */
            c.Add(o => o.ShippedDate, true).Format("{0:yyyy-MM-dd}");

            /* Adding hidden "ShipName" column: */
            c.Add(o => o.ShipName, true);

            /* Adding hidden "ShipAddress" column: */
            c.Add(o => o.ShipAddress, true);

            /* Adding hidden "ShipCity" column: */
            c.Add(o => o.ShipCity, true);

            /* Adding hidden "ShipPostalCode" column: */
            c.Add(o => o.ShipPostalCode, true);

            /* Adding hidden "ShipRegion" column: */
            c.Add(o => o.ShipRegion, true);

            /* Adding hidden "ShipCountry" column: */
            c.Add(o => o.ShipCountry, true).SetAutoCompleteTaxonomy(AutoCompleteTerm.Country);

            /* Adding "OrderDetails" column: */
            c.Add(o => o.OrderDetails)
            .Titled("Details")
            .Sum(true).Average(true).Max(true).Min(true)
            .SetCrudHidden(true);
        };

        var client = new GridClient<Order>(q => orderService.GetOrdersGridRowsAsync(orderColumns, q),
            query, false, "ordersGrid", orderColumns, locale)
            .SetRowCssClasses(item => item.Customer.IsVip ? "success" : string.Empty)
            .Sortable()
            .Filterable()
            .SetKeyboard(true)
            .Groupable(true)
            .ClearFiltersButton(true)
            .SetStriped(true)
            .WithMultipleFilters()
            .Searchable(true, false)
            .WithGridItemsCount()
            .ChangePageSize(true)
            .Crud(true, orderService)
            .SetCreateConfirmation(true)
            .SetUpdateConfirmation(true)
            .SetDeleteConfirmation(true)
            .AddButtonComponent<EmployeeComponent>("Employees", "Employees")
            .AddButtonComponent<CustomerComponent>("Customers", "Curstomers");

        _grid = client.Grid;

        // Set new items to grid
        _task = client.UpdateGrid();
        await _task;
    }
}
