@using GridBlazor.Resources
@using GridBlazorJava.Models


<div class="form-horizontal">
    <div class="form-group">
        <label for="OrderID" class="control-label col-md-2">ShipperID: </label>
        <div class="col-md-5">
            <input id="ShipperID" class="form-control" readonly disabled value="@_shipper.ShipperID" />
        </div>
    </div>

    <div class="form-group">
        <label for="RequiredDate" class="control-label col-md-2">CompanyName: </label>
        <div class="col-md-5">
            <input id="CompanyName" class="form-control" readonly disabled value="@_shipper.CompanyName" />
        </div>
    </div>

    <div class="form-group">
        <label for="ShippedDate" class="control-label col-md-2">Phone: </label>
        <div class="col-md-5">
            <input id="Phone" class="form-control" readonly disabled value="@_shipper.Phone" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-5">
            <button type="button" class="btn btn-primary btn-md" @onclick="BackButtonClicked">@Strings.Back</button>
        </div>
    </div>
</div>

@code
{
    private Shipper _shipper;

    [CascadingParameter(Name = "GridComponent")]
    protected GridComponent<Order> GridComponent { get; set; }

    [Parameter]
    public object Object { get; set; }

    protected override void OnParametersSet()
    {
        _shipper = (Shipper)Object;
    }

    protected async Task BackButtonClicked()
    {
        await GridComponent.Back();
    }
}
