@using GridBlazorClientSide.Shared.Models
@using GridShared.Columns
@implements ICustomGridComponent<Order>

<button class='@Program.HtmlClass.ButtonPrimary @Program.ButtonSmall' @onclick="MyFirstHandler">+1</button>
<button class='@Program.HtmlClass.ButtonPrimary @Program.ButtonSmall' @onclick="MySecondHandler">-1</button>

@code {
    [Parameter]
    public Order Item { get; set; }

    [Parameter]
    public IList<Func<object, Task>> Functions { get; set; }

    private async Task MyFirstHandler(MouseEventArgs e)
    {
        await Functions[0]?.Invoke(Item);
    }

    private async Task MySecondHandler(MouseEventArgs e)
    {
        await Functions[1]?.Invoke(Item);
    }
}