@page "/editrows"
@page "/editrows/{GridState}"
@using GridBlazorClientSide.Client.ColumnCollections
@using GridBlazorClientSide.Shared.Models
@using Microsoft.Extensions.Primitives
@using System.Globalization
@using System.Threading.Tasks
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<h1>Edit rows</h1>

<p>
    This page contains a grid that allows order edit. Its grid state is passed to the edit page, so it can be returned to this page mantaining the grid state.
</p>

<p>
    This component demonstrates a GridBlazor client-side grid. For more information, please see: <a href="https://github.com/gustavnavar/Grid.Blazor">https://github.com/gustavnavar/Grid.Blazor</a>
</p>

@if (_task.IsCompleted)
{
    <div class="@Program.HtmlClass.Row">
        <div class="@(Program.HtmlClass.ColMd)12">
            <GridComponent @ref="Component" T="Order" Grid="@_grid"></GridComponent>
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@code
{
    private CGrid<Order> _grid;
    private Task _task;
    private GridComponent<Order> Component;

    [Parameter]
    public string GridState { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var locale = CultureInfo.CurrentCulture;

        // build the column collection passing the return url string
        Action<IGridColumnCollection<Order>> columns = c =>
            ColumnCollections.OrderColumnsWithEdit(c, new List<Func<object, Task>>() { MyFirstFunction, MySecondFunction },
                "editrows");

        var query = new QueryDictionary<StringValues>();
        if (!string.IsNullOrWhiteSpace(GridState))
        {
            try
            {
                query = StringExtensions.GetQuery(GridState);
            }
            catch (Exception)
            {
                // do nothing, GridState was not a valid state
            }
        }
        string url = NavigationManager.BaseUri + "api/SampleData/OrderColumnsWithEdit";
        var client = new GridClient<Order>(HttpClient, url, query, false, "ordersGrid", columns, locale)
            .Sortable()
            .Filterable()
            .SetStriped(true)
            .WithMultipleFilters()
            .WithGridItemsCount();

        _grid = client.Grid;
        // Set new items to grid
        _task = client.UpdateGrid();
        await _task;
    }

    private async Task MyFirstFunction(object item)
    {
        await HttpClient.PostAsync(NavigationManager.BaseUri + $"api/SampleData/Add1ToFreight?id={((Order)item).OrderID}", null);
        await Component.UpdateGrid();
    }

    private async Task MySecondFunction(object item)
    {
        await HttpClient.PostAsync(NavigationManager.BaseUri + $"api/SampleData/Subtract1ToFreight?id={((Order)item).OrderID}", null);
        await Component.UpdateGrid();
    }
}
