@page "/groupable"
@using GridBlazorClientSide.Client.ColumnCollections
@using GridBlazorClientSide.Shared.Models
@using GridBlazor.Pagination
@using GridShared.Sorting
@using Microsoft.Extensions.Primitives
@using System.Globalization
@using System.Threading.Tasks
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<h1>Groupable Grid</h1>

<p>
    This page contains a grid with extended sorting and grouping enabled. Column titles can be dragged and dropped to the sorting box.
</p>

<p>
    This component demonstrates a GridBlazor client-side grid. For more information, please see: <a href="https://github.com/gustavnavar/Grid.Blazor">https://github.com/gustavnavar/Grid.Blazor</a>
</p>

@if (_task.IsCompleted)
{
    <div class="@Program.HtmlClass.Row">
        <div class="@(Program.HtmlClass.ColMd)12">
            <GridComponent T="Order" Grid="@_grid"></GridComponent>
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@code
{
    private CGrid<Order> _grid;
    private Task _task;
    private bool _initGrouping = false;

    protected override async Task OnParametersSetAsync()
    {
        var locale = CultureInfo.CurrentCulture;

        var query = new QueryDictionary<StringValues>();
        string url = NavigationManager.BaseUri + "api/SampleData/GetOrdersGridGroupable";
        Action<IGridColumnCollection<Order>> columns = c => ColumnCollections.OrderColumnsGroupable(c, SetCustomerNameLabel);
        var client = new GridClient<Order>(HttpClient, url, query, false, "ordersGrid", columns, locale)
            .Sortable()
            .Filterable()
            .SetStriped(true)
            .WithMultipleFilters()
            .WithGridItemsCount()
            .Groupable(true);

        _grid = client.Grid;
        // Set new items to grid
        _task = client.UpdateGrid();
        await _task;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (_grid.GridComponent != null && !_initGrouping)
        {
            var payloads = new List<ColumnOrderValue>();
            payloads.Add(new ColumnOrderValue("Customer.CompanyName", GridSortDirection.Ascending, 1));
            payloads.Add(new ColumnOrderValue("ShipVia", GridSortDirection.Ascending, 2));
            await _grid.GridComponent.InitGrouping(payloads);
            _initGrouping = true;
        }
    }

    protected async Task<string> SetCustomerNameLabel(object value)
    {
        if (value.GetType() == typeof(string))
        {
            decimal? max;
            decimal? min;
            var clientName = (string)value;
            var urlParameters = _grid.GetLink().Replace("?", "&");
            string url = NavigationManager.BaseUri + $"api/SampleData/GetMaxFreight?clientName={clientName}";
            max = (await HttpClient.GetFromJsonAsync<Order>(url + urlParameters))?.Freight;
            url = NavigationManager.BaseUri + $"api/SampleData/GetMinFreight?clientName={clientName}";
            min = (await HttpClient.GetFromJsonAsync<Order>(url + urlParameters))?.Freight;
            return clientName + "<span class='ml-5'>Max Freight: " + max?.ToString() + "</span><span class='ml-5'>Min Freight: " + min?.ToString() + "</span>";
        }
        return value.ToString();
    }
}