@using GridBlazor
@using GridBlazorServerSide.Models
@using GridShared.Columns
@implements ICustomGridComponent<Order>
@inject IUriHelper UriHelper

<button class='btn btn-sm btn-primary' @onclick="MyClickHandler">Edit</button>

@code {
    [Parameter]
    public Order Item { get; set; }

    [Parameter]
    public IList<Action<object>> Actions { get; set; }

    [Parameter]
    public CGrid<Order> Grid { get; set; }

    [Parameter]
    public object Object { get; set; }

    private void MyClickHandler(UIMouseEventArgs e)
    {
        if (Actions == null)
        {
            string gridState = Grid.GetState();
            if (Object == null)
            {
                UriHelper.NavigateTo($"/editorder/{Item.OrderID.ToString()}/gridsample/{gridState}");
            }
            else
            {
                string returnUrl = (string)Object;
                UriHelper.NavigateTo($"/editorder/{Item.OrderID.ToString()}/{returnUrl}/{gridState}");
            }
        }
        else
        {
            Actions[0]?.Invoke(Item);
        }
    }
}