@using GridBlazor.Demo.Shared.Models
@using GridShared.Columns
@implements ICustomGridComponent<Order>

<button class='btn btn-sm btn-primary' @onclick="@MyClickHandler">Save</button>

@code {
    [Parameter]
    public Order Item { get; protected set; }

    private void MyClickHandler(UIMouseEventArgs e)
    {
        Console.WriteLine("Button clicked: Item " + Item.OrderID);
    }
}
